<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/styles.css">
		<!-- Media parts copied from course web site  -->

		<!-- Media query for narrow browser width -->
		<link rel="stylesheet" media="only screen and (max-width: 480px)" href="static/css/styles.css">

		<!-- Media query for medium browser width -->
		<link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 960px)" href="static/css/styles.css">

		<!-- Media query for full browser width -->
		<link rel="stylesheet" media="only screen and (min-width: 961px)" href="static/css/styles.css">

		<!-- Prevent smartphones from scaling pages down -->
		<meta name="viewport" content="initial-scale=1">
	</head>

	<body>
		<div class="h-75 d-flex align-items-center justify-content-center">
            <div class="card card-container col-md-4 mx-auto">
                <center>
					<h2 class="">Welcome {{username}}</h2>
					<div class="d-flex justify-content-around">
						<a href="{{url_for('view_history')}}">
							<input type="submit" id="historyButton" name="history" value="History"/>
						</a>
						<a href="{{url_for('logout')}}">
							<input type="submit" id="logoutButton" name="logout" value="Log Out"/>
						</a>
					</div>
					<h2>Today I am feeling...</h2>
					<form method="POST" enctype="multipart/form-data" action="/home">
						<input type="file" id="myFile" name="uploaded-file" accept="png, jpg, jpeg">
						<input type="submit" value="Submit">
					</form>
                </center>
            </div>
        </div>
	</body>

</html>
